@charset "utf-8";

input[type="submit"] {
  padding: 8px;
  border: 1px solid royalblue;
  border-radius: 4px;
  background: linear-gradient(0deg, #007d49, #d2ffea);
}

input[type="reset"] {
  padding: 8px;
  border: 1px solid royalblue;
  border-radius: 4px;
  background: linear-gradient(45deg, #cf8600, #f4f7b6);
}

input[type="button"] {
  padding: 8px;
  border: 1px solid royalblue;
  border-radius: 4px;
  background: linear-gradient(90deg, #0086f9, #b6d6f7);
}
